<?xml version="1.0" ?>
<robot name="iiwa_14_r820_robot" xmlns:xacro="http://www.ros.org/wiki/xacro">

    <xacro:include filename="$(find iiwa_14_r820_robot_description)/urdf/gazebo.urdf.xacro"/>
    <xacro:include filename="$(find iiwa_14_r820_robot_description)/urdf/transmission.urdf.xacro"/>
    <xacro:include filename="$(find iiwa_14_r820_robot_description)/urdf/iiwa_14_r820.urdf.xacro"/>

    <link name="world" />

    <xacro:iiwa_14_r820 parent="world" prefix="">
        <origin xyz="0 0 0" rpy="0 0 0"/>
    </xacro:iiwa_14_r820>
</robot>